.hero {
    height: 102vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &>h2 {
        margin-bottom: 0;
    }

    &-margin {
        margin: 0 2em 4em 2em;
    }

    &-shadowbox {
        @include inset-shadow();
        box-shadow: inset 0px -30px 10px -5px $background;
    }

    &__container {
        display: grid;
        gap: 2em;
        text-align: center;
    }

    &__btn {
        width: 10em;
        padding: 1em 1.5em;
        position: relative;
        z-index: 1;
        color: $light;
        border: 1px solid $light;
        border-radius: 0.5em;
        box-shadow: 0 0 20px $background;

        &:hover {
            background-color: $light;
            color: $background;
        }
    }
}

/* --- // --- // MEDIA QUERIES // --- // --- */

@media screen and (min-width: 601px) {
    .hero {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero {
        &__container {
            grid-template-columns: 1fr;
        }
    }
}