.projects {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid $color;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    transition: $transition;

    &:hover {
        box-shadow: 0 0 20px $color;
    }

    &__title {
        width: 100%;
        padding: 0.25em;
        background-color: $color;
        color: $light;
        text-align: center;
    }

    &__img {
        height: 300px;
        position: relative;
        overflow: hidden;

        &-shadow {
            @include inset-shadow();
            box-shadow: inset 0px 0px 5px 15px $background;
        }

        & > img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__description {
        height: 3em;
        margin: 0.5em 1em;
        text-align: justify;
    }

    &__btns {
        width: 100%;
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        gap: 1.5em;
        background-color: $background;
        border-radius: 0.5em;
    }

    &__btn {
        cursor: pointer;
    }   
}

/* --- // --- // MEDIA QUERIES // --- // --- */

@media screen and (min-width: 1025px) {
    .card {
        width: 400px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .card {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 80%;
    }
}