$background: #1f1f38;
$background2: #2c2c6c;
$color: rgb(206, 82, 51);
$white: #ffffff;
$light: rgb(213, 235, 243);

$transition: all 0.4s ease;
$transition-navbar: all 1s cubic-bezier(.10, 1.1, .10, .90);

$width-lg: 70%;
$width-md: 80%;
$width-sm: 90%;