@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* // -- // GENERAL STYLES // -- // */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-color: $background;
    color: $white;
}

section {
    height: 90vh;

    &>h2 {
        text-align: center;
        color: $white;
        letter-spacing: 0.2rem;
    }

    &>h5 {
        color: $light;
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    cursor: default;
}

h1 {
    font-size: 2rem;
}

img { // ???????????????????
    display: block;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color;
    transition: $transition;

    &:hover {
        color: $light;
    }
}

.container {
    margin: 1em auto 0 auto;
}

.text-light {
    color: $light;
}

.btn {
    width: max-content;
    padding: 1em 1.5em;
    color: $color;
    border: solid 1px $color;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: $light;
        color: $background;
        border-color: $light;
    }
}

/* // -- // GENERAL MEDIA QUERIES // -- // */

@media screen and (min-width: 1025px) {
    body {
        font-size: 1.25em;
    }

    section {
        padding-top: 6em;

        &>h2 {
            margin-bottom: 2em;
        }
    }

    .container {
        width: $width-lg;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    section {
        padding-top: 6em;

        &>h2 {
            margin-bottom: 2em;
        }
    }
    
    .container {
        width: $width-md;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding-top: 2em;

        &>h2 {
            margin-bottom: 0.5em;
        }
    }
    
    .container {
        width: $width-sm;
    }
}

@import "./components/navbars";
@import "./components/hero";
@import "./components/skills";
@import "./components/contact";
@import "./components/footer";