/* // -- // VARIABLES // -- // */

$background: #1f1f38;
$background2: #2c2c6c;
$color: rgb(206, 82, 51);//#3db5ff;
$color2: rgba(77, 181, 255, 0.4);
$white: #ffffff;
$light: rgb(213, 235, 243);//rgba(255, 255, 255, 0.6);

$transition: all 0.4s ease;
$transition-header: all 1s cubic-bezier(.10,1.1,.10,.90);

$width-lg: 70%;
$width-md: 80%;
$width-sm: 90%;

/* // -- // FONT IMPORT // -- // */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* // -- // GENERAL STYLES // -- // */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $background;
    color: $white;
    overflow: hidden;
}

section {
    height: 90vh;
}

section,
header {
    padding-top: 6em;

    &>h2 {
        margin-bottom: 2em;
        text-align: center;
        color: $white;
        letter-spacing: 0.2rem;
    }

    &>h5 {
        text-align: center;
        color: $light;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    cursor: default;
}

h1 {
    font-size: 2rem;
}

img {
    display: block;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color;

    &:hover {
        color: $white;
        transition: $transition;
    }
}

.container {
    margin: 1em auto 0 auto;
}

.text-light {
    color: $light;
}

.btn {
    width: max-content;
    padding: 1em 1.5em;
    color: $color;
    border: solid 1px $color;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $background;
        border-color: $white;
    }

    &-primary {
        background-color: $color;
        color: $background;
    }
}

/* // -- // GENERAL MEDIA QUERIES // -- // */

@media screen and (min-width: 1025px) {
    .container {
        width: $width-lg;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: $width-md;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: $width-sm;
    }
}

/* // -- // MIXINS // -- // */

@mixin inset-shadow {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

/* // -- // HEADER STYLES + MEDIA QUERIES // -- // */

.header {
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
        margin-bottom: 0;
    }

    .h2margin{
        margin-bottom: 2em;
    }

    &__content {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
    }

    &__img {
        height: 16em;
        width: 14em;
        margin: 0 0.5em;
        padding: 0;
        position: relative;
        background-color: $color;
        transition: $transition;

        &:hover {
            background-color: $white;
        }

        &-shadowtop {
            @include inset-shadow();
            box-shadow: inset 0px 40px 10px -5px $background;
        }

        &-shadowbottom {
            @include inset-shadow();
            box-shadow: inset 0px -40px 10px -5px $background;
        }

        &-photo {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: solid 0.5em $background;
        }
    }

    &__panel {
        margin: 0 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .header {
        &__content {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        &__panel {
            align-items: center;
        }
    }
}

/* // -- // NAVBAR STYLES + MEDIA QUERIES // -- // */

.navbar {
    &__panel {
        width: max-content;
        padding: 0.5em 1em;
        position: fixed;
        z-index: 2;
        bottom: 5em;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1em;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
    }

    &__item {
        padding: 0.5em 0.5em 0 0.5em;
        background: transparent;
        border-radius: 0.5em;
        transition: $transition;

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            color: $light;
        }

        &.active {
            background-color: $background;
            color: $white;
        }
    }

    &__socials {
        position: absolute;
        top: 50%;
        display: flex;
        flex-direction: column;
        scale: 2;
        
        & > a {
            transform: translateY(1000px);
        }

        .load {
            transition: $transition-header;
            transform: translateY(0);
        }
    }

    &__scroll {
        position: absolute;
        top: 50%;
        display: flex;
        transform: rotate(90deg);
        
        & > a {
            transform: translateX(1000px);
        }

        .load {
            transition: $transition-header;
            transform: translateX(0);
        }
    }
}

@media screen and (min-width: 1025px) {
    .navbar {
        &__socials {
            left: 8em;
        }

        &__scroll {
            right: 6em;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        &__socials {
            left: 3em;
        }

        &__scroll {
            right: 1em;
        }
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        &__socials {
            display: none;
        }

        &__scroll {
            display: none;
        }
    }
}

/* // -- // SKILLS SECTION STYLES + MEDIA QUERIES // -- // */

.skills {

    &__content {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1em;
    }

    &__container {
        width: 16em;
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: $transition;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;

        & > h3 {
            padding: 0.5em;
            background-color: $color;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            text-align: center;
            letter-spacing: 0.1em;
            cursor: default;
            color: $background2;
        }

        &:hover {
            box-shadow: 0 0 20px $color;
        }
    }

    &__list {
        border: 1px solid $color;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        transition: $transition;
        color: $light;

        & > h4 {
            padding-left: 0.5em;
        }

        &:hover {
            color: $white;
            cursor: default;
        }
    }
}

@media screen and (min-width: 1025px) {
    .skills {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
    .skills {

        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 650px) {
    .skills {

        &__content {
            grid-template-columns: 1fr;
        }
    }
}

/* // -- // HEADER STYLES + MEDIA QUERIES // -- // */


/* // -- // FOOTER STYLES + MEDIA QUERIES // -- // */

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient($background, $color);
    color: $background;

    &__title {
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 0.75rem;
    }

    &__socials {
        position: absolute;
        bottom: 1em;
        right: 2em;

        & > a {
            padding: 0 1em;
            color: $background;

            &:hover {
                color: $background2;
            }
        }
    }
}