/* // -- // VARIABLES // -- // */

$background: #1f1f38;
$background2: #2c2c6c;
$color: rgb(206, 82, 51); //#3db5ff;
$color2: rgba(77, 181, 255, 0.4);
$white: #ffffff;
$light: rgb(213, 235, 243); //rgba(255, 255, 255, 0.6);

$transition: all 0.4s ease;
$transition-header: all 1s cubic-bezier(.10, 1.1, .10, .90);

$width-lg: 70%;
$width-md: 80%;
$width-sm: 90%;

/* // -- // FONT IMPORT // -- // */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* // -- // GENERAL STYLES // -- // */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-color: $background;
    color: $white;
}

section {
    height: 90vh;

    &>h2 {
        text-align: center;
        color: $white;
        letter-spacing: 0.2rem;
    }

    &>h5 {
        color: $light;
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    cursor: default;
}

h1 {
    font-size: 2rem;
}

img { // ???????????????????
    display: block;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color;
    transition: $transition;

    &:hover {
        color: $light;
    }
}

.container {
    margin: 1em auto 0 auto;
}

.text-light {
    color: $light;
}

.btn {
    width: max-content;
    padding: 1em 1.5em;
    color: $color;
    border: solid 1px $color;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: $light;
        color: $background;
        border-color: $light;
    }
}

/* // -- // GENERAL MEDIA QUERIES // -- // */

@media screen and (min-width: 1025px) {
    body {
        font-size: 1.25em;
    }

    section {
        padding-top: 6em;

        &>h2 {
            margin-bottom: 2em;
        }
    }

    .container {
        width: $width-lg;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    section {
        padding-top: 6em;

        &>h2 {
            margin-bottom: 2em;
        }
    }
    
    .container {
        width: $width-md;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding-top: 2em;

        &>h2 {
            margin-bottom: 0.5em;
        }
    }
    
    .container {
        width: $width-sm;
    }
}

/* // -- // MIXINS // -- // */

@mixin inset-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* // -- // NAVBAR STYLES + MEDIA QUERIES // -- // */

.navbar {
    &__panel {
        width: max-content;
        padding: 0.5em 1em;
        position: fixed;
        z-index: 2;
        display: flex;
        gap: 1em;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
    }

    &__item {
        padding: 0.5em 0.5em 0 0.5em;
        background: transparent;
        border-radius: 0.5em;
        transition: $transition;

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            color: $light;
        }

        &.active {
            background-color: $background;
            color: $white;
        }
    }

    &__socials, &__scroll {
        position: fixed;
        top: 50%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        scale: 2;
        padding: 0.5em 0.5em 0 0.5em;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
        transform: translateY(1000px);
        transition: $transition-header;
    }

    .load {
        transform: translateY(0);
    }
}

@media screen and (min-width: 1025px) {
    .navbar {
        &__panel {
            left: 50%;
            bottom: 5em;
            transform: translateX(-50%);
        }

        &__socials {
            left: 6em;
        }

        &__scroll {
            right: 6em;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        &__panel {
            left: 50%;
            bottom: 5em;
            transform: translateX(-50%);
        }
        
        &__socials {
            left: 2em;
        }

        &__scroll {
            right: 2em;
        }
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        &__panel {
            left: 50%;
            bottom: 1em;
            transform: translateX(-50%);
        }

        &__socials {
            display: none;
        }

        &__scroll {
            display: none;
        }
    }
}

/* // -- // HERO STYLES + MEDIA QUERIES // -- // */

.hero {
    position: relative;
    height: 102vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>h2 {
        margin-bottom: 0;
    }

    &-margin {
        margin: 0 2em 4em 2em;
    }

    &-shadowbox {
        @include inset-shadow();
        box-shadow: inset 0px -30px 10px -5px $background;
    }

    &__content {
        display: grid;
        gap: 2em;
        text-align: center;
    }

    &__btn {
        position: relative;
        z-index: 1;
        width: 10em;
        padding: 1em 1.5em;
        color: $light;
        border: 1px solid $light;
        border-radius: 0.5em;
        box-shadow: 0 0 20px $background;

        &:hover {
            background-color: $light;
            color: $background;
        }
    }
}

@media screen and (min-width: 601px) {
    .hero {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero {
        &__content {
            grid-template-columns: 1fr;
        }
    }
}

/* // -- // ABOUT SECTION STYLES + MEDIA QUERIES // -- // */

.hero {
    position: relative;
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__shadowbox {
        @include inset-shadow();
        box-shadow: inset 0px 0px 10px 0.5em $background;
    }
}

/* // -- // SKILLS SECTION STYLES + MEDIA QUERIES // -- // */

.skills {

    &__content {
        width: 100%;
        margin: 0 auto;
        display: grid;
        justify-items: center;
    }

    &__container {
        margin: 1em 2em;
        width: 16em;
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: $transition;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;

        &>h3 {
            padding: 0.5em;
            background-color: $color;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            text-align: center;
            letter-spacing: 0.1em;
            cursor: default;
            color: $background2;
        }

        &:hover {
            box-shadow: 0 0 20px $color;
        }
    }

    &__list {
        border: 1px solid $color;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        transition: $transition;
        color: $light;

        &>h4 {
            padding-left: 0.5em;
        }

        &:hover {
            color: $white;
            cursor: default;
        }
    }
}

@media screen and (min-width: 1025px) {
    .skills {
        &__container:nth-of-type(1) {
            justify-self: right;
        }

        &__container:nth-of-type(2) {
            justify-self: left;
        }
    }
}

@media screen and (min-width: 651px) {
    .skills {

        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 650px) {
    .skills {

        &__content {
            grid-template-columns: 1fr;
        }
    }
}

/* // -- // CONTACT PAGE STYLES + MEDIA QUERIES // -- // */

.contact {
    &__content {
        display: grid;
        gap: 1em;
    }

    &__email {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $color;
        border-radius: 0.5em;
        transition: $transition;

        &>h5 {
            color: $light;
        }

        &>a {
            font-size: 1.25rem;
        }

        &:hover {
            box-shadow: 0 0 20px $color;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.75em;

        &>input,
        textarea {
            padding: 0.5em;
            background-color: $background;
            border: 1px solid $color;
            border-radius: 0.5em;
            color: $light;
            transition: $transition;

            &:hover {
                box-shadow: 0 0 20px $color;
            }

            &:focus {
                outline: 0;
                color: $white;
            }
        }

        &>textarea {
            height: 8em;
            resize: none;
        }

        &>button {
            width: 100%;
            background-color: $background;
            transition: $transition;
        }
    }

    &__socials {
        display: none;
    }
}

@media screen and (min-width: 701px) {
    .contact {
        &__content {
            grid-template-columns: 1fr 1fr;
        }

        &__email {
            justify-self: right;
        }

        &__form {
            justify-self: left;
        }
    }
}

@media screen and (max-width: 700px) {
    .contact {

        &__content {
            grid-template-columns: 1fr;
        }

        &__email,  &__form {
            margin-top: 2em;
        }

        &__socials {
            display: flex;
            justify-content: center;
            margin: 2em 0;
            gap: 2em;
        }
    }
}

/* // -- // FOOTER STYLES + MEDIA QUERIES // -- // */

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient($background, $color);
    color: $background;

    &__title {
        position: absolute;
        bottom: 1.5em;
        left: 1em;
        font-size: 0.75rem;
    }

    &__socials {
        position: absolute;
        bottom: 1.5em;
        right: 2em;

        &>a {
            padding: 0 1em;
            color: $background;

            &:hover {
                color: $background2;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        &__socials {
            display: none;
        }
    }
}